<LinkTo class="cart-link" @route="cart">
    <i class="fa fa-shopping-cart"></i>
    <span class="cart-count d-inline-flex justify-content-cente align-items-center">
        {{this.itemCount}}
    </span>
</LinkTo>

<main class="container mt-5">
    {{yield}}
</main>


